imobiliaria-services/wsdls/ListarImoveisImobiliariaInglesa.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.imobiliariaservices.com.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://model.imobiliariaservices.com.br/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.imobiliariaservices.com.br">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.imobiliariaservices.com.br/xsd">
            <xs:complexType name="Imovel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="imbBairro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbCidade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbCnpj" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbComplemento" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbEstado" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbLogradouro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbNome" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbNumero" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbTel1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbTel2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imbTel3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvArea" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvBairro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvCidade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvComplemento" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvEstado" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvHorSol" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvId" type="xs:int"/>
                    <xs:element minOccurs="0" name="imvLogradouro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvNumQuartos" type="xs:int"/>
                    <xs:element minOccurs="0" name="imvNumero" type="xs:int"/>
                    <xs:element minOccurs="0" name="imvOtrDetalhes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imvPosVagGaragem" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="imvPreco" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://model.imobiliariaservices.com.br/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.imobiliariaservices.com.br">
            <xs:import namespace="http://model.imobiliariaservices.com.br/xsd"/>
            <xs:element name="ListarImoveisImobiliariaInglesaException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ListarImoveisImobiliariaInglesaException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="listarInglesa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bairro" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="valMin" type="xs:double"/>
                        <xs:element minOccurs="0" name="valMax" type="xs:double"/>
                        <xs:element minOccurs="0" name="numQuartos" type="xs:int"/>
                        <xs:element minOccurs="0" name="posVagGaragem" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="horSol" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listarInglesaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Imovel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listarInglesaRequest">
        <wsdl:part name="parameters" element="ns:listarInglesa"/>
    </wsdl:message>
    <wsdl:message name="listarInglesaResponse">
        <wsdl:part name="parameters" element="ns:listarInglesaResponse"/>
    </wsdl:message>
    <wsdl:message name="ListarImoveisImobiliariaInglesaException">
        <wsdl:part name="parameters" element="ns:ListarImoveisImobiliariaInglesaException"/>
    </wsdl:message>
    <wsdl:portType name="ListarImoveisImobiliariaInglesaPortType">
        <wsdl:operation name="listarInglesa">
            <wsdl:input message="ns:listarInglesaRequest" wsaw:Action="urn:listarInglesa"/>
            <wsdl:output message="ns:listarInglesaResponse" wsaw:Action="urn:listarInglesaResponse"/>
            <wsdl:fault message="ns:ListarImoveisImobiliariaInglesaException" name="ListarImoveisImobiliariaInglesaException" wsaw:Action="urn:listarInglesaListarImoveisImobiliariaInglesaException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ListarImoveisImobiliariaInglesaSoap11Binding" type="ns:ListarImoveisImobiliariaInglesaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listarInglesa">
            <soap:operation soapAction="urn:listarInglesa" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ListarImoveisImobiliariaInglesaException">
                <soap:fault use="literal" name="ListarImoveisImobiliariaInglesaException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ListarImoveisImobiliariaInglesaSoap12Binding" type="ns:ListarImoveisImobiliariaInglesaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listarInglesa">
            <soap12:operation soapAction="urn:listarInglesa" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ListarImoveisImobiliariaInglesaException">
                <soap12:fault use="literal" name="ListarImoveisImobiliariaInglesaException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ListarImoveisImobiliariaInglesaHttpBinding" type="ns:ListarImoveisImobiliariaInglesaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="listarInglesa">
            <http:operation location="listarInglesa"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ListarImoveisImobiliariaInglesa">
        <wsdl:port name="ListarImoveisImobiliariaInglesaHttpSoap11Endpoint" binding="ns:ListarImoveisImobiliariaInglesaSoap11Binding">
            <soap:address location="http://localhost:9090/imobiliaria-services/services/ListarImoveisImobiliariaInglesa.ListarImoveisImobiliariaInglesaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ListarImoveisImobiliariaInglesaHttpSoap12Endpoint" binding="ns:ListarImoveisImobiliariaInglesaSoap12Binding">
            <soap12:address location="http://localhost:9090/imobiliaria-services/services/ListarImoveisImobiliariaInglesa.ListarImoveisImobiliariaInglesaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ListarImoveisImobiliariaInglesaHttpEndpoint" binding="ns:ListarImoveisImobiliariaInglesaHttpBinding">
            <http:address location="http://localhost:9090/imobiliaria-services/services/ListarImoveisImobiliariaInglesa.ListarImoveisImobiliariaInglesaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
