imobiliaria-services/wsdls/RegistrarCriteriosDePesquisa.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.imobiliariaservices.com.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.imobiliariaservices.com.br">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.imobiliariaservices.com.br">
            <xs:element name="RegistrarCriteriosDePesquisaException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistrarCriteriosDePesquisaException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="registrarPesquisa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bairro" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="valMin" type="xs:double"/>
                        <xs:element minOccurs="0" name="valMax" type="xs:double"/>
                        <xs:element minOccurs="0" name="numQuartos" type="xs:int"/>
                        <xs:element minOccurs="0" name="posVagGaragem" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="horSol" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registrarPesquisaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="registrarPesquisaRequest">
        <wsdl:part name="parameters" element="ns:registrarPesquisa"/>
    </wsdl:message>
    <wsdl:message name="registrarPesquisaResponse">
        <wsdl:part name="parameters" element="ns:registrarPesquisaResponse"/>
    </wsdl:message>
    <wsdl:message name="RegistrarCriteriosDePesquisaException">
        <wsdl:part name="parameters" element="ns:RegistrarCriteriosDePesquisaException"/>
    </wsdl:message>
    <wsdl:portType name="RegistrarCriteriosDePesquisaPortType">
        <wsdl:operation name="registrarPesquisa">
            <wsdl:input message="ns:registrarPesquisaRequest" wsaw:Action="urn:registrarPesquisa"/>
            <wsdl:output message="ns:registrarPesquisaResponse" wsaw:Action="urn:registrarPesquisaResponse"/>
            <wsdl:fault message="ns:RegistrarCriteriosDePesquisaException" name="RegistrarCriteriosDePesquisaException" wsaw:Action="urn:registrarPesquisaRegistrarCriteriosDePesquisaException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RegistrarCriteriosDePesquisaSoap11Binding" type="ns:RegistrarCriteriosDePesquisaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registrarPesquisa">
            <soap:operation soapAction="urn:registrarPesquisa" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistrarCriteriosDePesquisaException">
                <soap:fault use="literal" name="RegistrarCriteriosDePesquisaException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrarCriteriosDePesquisaSoap12Binding" type="ns:RegistrarCriteriosDePesquisaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registrarPesquisa">
            <soap12:operation soapAction="urn:registrarPesquisa" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistrarCriteriosDePesquisaException">
                <soap12:fault use="literal" name="RegistrarCriteriosDePesquisaException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrarCriteriosDePesquisaHttpBinding" type="ns:RegistrarCriteriosDePesquisaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="registrarPesquisa">
            <http:operation location="registrarPesquisa"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RegistrarCriteriosDePesquisa">
        <wsdl:port name="RegistrarCriteriosDePesquisaHttpSoap11Endpoint" binding="ns:RegistrarCriteriosDePesquisaSoap11Binding">
            <soap:address location="http://localhost:9090/imobiliaria-services/services/RegistrarCriteriosDePesquisa.RegistrarCriteriosDePesquisaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RegistrarCriteriosDePesquisaHttpSoap12Endpoint" binding="ns:RegistrarCriteriosDePesquisaSoap12Binding">
            <soap12:address location="http://localhost:9090/imobiliaria-services/services/RegistrarCriteriosDePesquisa.RegistrarCriteriosDePesquisaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RegistrarCriteriosDePesquisaHttpEndpoint" binding="ns:RegistrarCriteriosDePesquisaHttpBinding">
            <http:address location="http://localhost:9090/imobiliaria-services/services/RegistrarCriteriosDePesquisa.RegistrarCriteriosDePesquisaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
