imobiliaria-services/wsdls/RegistrarPropostaDeCompra.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.imobiliariaservices.com.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.imobiliariaservices.com.br">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.imobiliariaservices.com.br">
            <xs:element name="RegistrarPropostaDeCompraException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistrarPropostaDeCompraException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="registrarProposta">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idOrigem" type="xs:int"/>
                        <xs:element minOccurs="0" name="valor" type="xs:double"/>
                        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registrarPropostaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="registrarPropostaRequest">
        <wsdl:part name="parameters" element="ns:registrarProposta"/>
    </wsdl:message>
    <wsdl:message name="registrarPropostaResponse">
        <wsdl:part name="parameters" element="ns:registrarPropostaResponse"/>
    </wsdl:message>
    <wsdl:message name="RegistrarPropostaDeCompraException">
        <wsdl:part name="parameters" element="ns:RegistrarPropostaDeCompraException"/>
    </wsdl:message>
    <wsdl:portType name="RegistrarPropostaDeCompraPortType">
        <wsdl:operation name="registrarProposta">
            <wsdl:input message="ns:registrarPropostaRequest" wsaw:Action="urn:registrarProposta"/>
            <wsdl:output message="ns:registrarPropostaResponse" wsaw:Action="urn:registrarPropostaResponse"/>
            <wsdl:fault message="ns:RegistrarPropostaDeCompraException" name="RegistrarPropostaDeCompraException" wsaw:Action="urn:registrarPropostaRegistrarPropostaDeCompraException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RegistrarPropostaDeCompraSoap11Binding" type="ns:RegistrarPropostaDeCompraPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registrarProposta">
            <soap:operation soapAction="urn:registrarProposta" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistrarPropostaDeCompraException">
                <soap:fault use="literal" name="RegistrarPropostaDeCompraException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrarPropostaDeCompraSoap12Binding" type="ns:RegistrarPropostaDeCompraPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registrarProposta">
            <soap12:operation soapAction="urn:registrarProposta" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistrarPropostaDeCompraException">
                <soap12:fault use="literal" name="RegistrarPropostaDeCompraException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrarPropostaDeCompraHttpBinding" type="ns:RegistrarPropostaDeCompraPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="registrarProposta">
            <http:operation location="registrarProposta"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RegistrarPropostaDeCompra">
        <wsdl:port name="RegistrarPropostaDeCompraHttpSoap11Endpoint" binding="ns:RegistrarPropostaDeCompraSoap11Binding">
            <soap:address location="http://localhost:9090/imobiliaria-services/services/RegistrarPropostaDeCompra.RegistrarPropostaDeCompraHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RegistrarPropostaDeCompraHttpSoap12Endpoint" binding="ns:RegistrarPropostaDeCompraSoap12Binding">
            <soap12:address location="http://localhost:9090/imobiliaria-services/services/RegistrarPropostaDeCompra.RegistrarPropostaDeCompraHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RegistrarPropostaDeCompraHttpEndpoint" binding="ns:RegistrarPropostaDeCompraHttpBinding">
            <http:address location="http://localhost:9090/imobiliaria-services/services/RegistrarPropostaDeCompra.RegistrarPropostaDeCompraHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
